* {
    margin: 0;
    padding: 0;
}

body {
    background: url('img/body_bg.png') repeat;
    font-family: 'Droid Serif', serif;
    color: #fff;
}

.header {
    background: url('img/header_bg.png') repeat;
}

ul#nav {
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    list-style: none;
    border-right: 3px solid #0C0C0C;
    border-left: 3px solid #161616;
    position: relative;
}

#nav li a {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    font-style: italic;
}

#nav li a:hover {
    background: #000;
    border-radius: 10px;
}
.search_bar{
position: relative;
}
input#search {
  padding: 10px;
  margin-top: 5px;
  width: 280px;
  border-radius: 10px;
    border: none;
    text-align: center;
}

.search_icon{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 12px;
  left: 25px;
        border: none !important;
}


/*Image Section*/
img{
max-width: 100%;
    max-height: 100%;
    border: 5px solid #ddd;
}
.right_side, .left_side, .middle_side{

padding-right: 0px !important;
    padding-left: 5px !important;
}

.up_1{
position: relative;
    height: 400px;
}
.img_icon{
width: 40px;
    height: 40px;
    position: absolute;
    border: none !important;
    left: 50%;
    top: 50%;
}
